body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: 1fr 4fr 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  background-image: linear-gradient(#329afb, white);
}

.body {
  grid-area: body;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-image: linear-gradient(white, #c1e0fe);
}

h1 {
  font-family: "Share Tech", sans-serif;
  text-align: center;
  font-size: 6em;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 0.2em;
}